html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

body{
	background-color: #80aaff;
	color: blue;
}

header{
	background-color: #809fff;
	background-image: url('../img/background.png');
	background-repeat: repeat;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}

header img{
	border-radius: 300px;
	border: 15px solid #e6e6e6;
	box-shadow: 0 10px 20px black;
}

.content{
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: grey;
	font-style: italic;
	text-align: right;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: blue;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #809fff;
	color: black;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline;
	margin: 0 5px;
}

.content ul{
	padding-bottom: 90px;
}